.ap-page {
    margin: 0 0.66em;
    line-height: .9;
    font-size: 24px;
}

.page-header {
    padding: 10px 15px;
    height: 80vh;
    background: 
        radial-gradient(ellipse at center, 
        rgba(255, 255, 255, 0.2) 0%, 
        rgba(89, 126, 248, 0.8) 100%), 
        url(../../../../assets/images/adult-page-header.jpeg);
    background-repeat: no-repeat;
    background-position: center -10vh;
    background-size: 100vw 120vh; 
        -webkit-background-size: 100vw 110vh; 
        -moz-background-size: 100vw 110vh; 
        -o-background-size: 100vw 110vh;
}

.header-box {
    margin: 12% 5em;
    padding: 1.5em 0;
    text-align: center;
    color: #ffffff;
    background-color: rgba(89, 126, 248, 0.8);
}

.header-text {
    margin: 1em 1em;
    border: 1.5px solid #fff;
}

.header-text h1 {
    font-size: 46px;
    margin: .3em 0 ;
}

.header-text p {
    margin: 0 .7em 1em .7em;
}

.ap-main {
    height: auto;
    margin: 2em 10em;
    font-size: 21px;
    line-height: 1.1;
    padding-bottom: 1em;
    display: flex;
}

.sidebar {
    width: 17%;
    margin: 1em 3em 1em 0.5em;
}

.sidebar h4 {
    color:rgb(89, 126, 248);
    font-weight: bolder;
}

.sidebar-content-btm {
    margin-top: 3em;
}

button.btn {
    margin-top: 0.5em;
    background-color: rgba(12, 52, 173, 0.7);
    color: #ffffff;
    font-size: 17px;
    padding: 10px 15px;
    border-radius: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 22px;
    transition: transform .4s;
}

.btn:hover {
    transform:translateY(-5px);
}

.btn:active {
    transform: translateY(-1.5px);
}

.main-title {
    color:rgb(89, 126, 248);
    font-weight: bolder;
    font-size: 25px;
    text-transform: uppercase;
}

.main-body {
    margin: 1em 0;
}

hr {
    margin-bottom: 1.5em;
}