<div class="ap-page">
    <div class="page-header">
        <div class="header-box">
            <div class="header-text">
                <h1>Adult Program</h1>
                <p>Innovative Services, Inc.’s adult residential program serves all genders aged 21 and above and provides varying degrees of supervision and structure so that individuals may live in the least restrictive environment. The program is licensed through the Office of Health Care Quality (OHCQ) and funded primarily by the Maryland Department of Health (MDH).</p>
            </div>
        </div>
    </div>
    <div class="ap-main">
        <div class="sidebar">
            <div class="sidebar-content-top">
                <h4>Contact Us</h4>
                <p>
                    Do you have general questions or need help finding a residential care unit?
                </p>
                <a href="/contact-us">
                    <button type="button" class="btn btn-sm">Get In Touch</button>
                </a>
            </div>
            <div class="sidebar-content-btm">
                <h4>Residential Care Units</h4>
                <p>
                    See our listing of all available vacancies.
                </p>
                <a href="/unit-vacancies">
                    <button type="button" class="btn btn-sm">View All</button>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="main-text">
                <div class="main-title">The Populations We Serve</div>
                <div class="main-body">
                    We help individuals with mild, moderate, or severe intellectual and developmental disabilities and various other medical, mental, and behavioral health diagnoses which include but not limited to the following:
                    <ul>
                        <li>Total care (ambulatory and non-ambulatory, unsteady gait, etc.)</li>
                        <li>Various medical issues and diagnoses (hearing impaired, legally blind, incontinence, enuresis, etc.)</li>
                        <li>Emotionally disturbed</li>
                        <li>Bipolar disorder</li>
                        <li>Delinquent</li>
                        <li>Aggressive behavior</li>
                        <li>Self-injurious behavior</li>
                        <li>Austim spectrum disorder</li>
                        <li>ADHD</li>
                        <li>Anxiety disorder</li>
                        <li>PTSD</li>
                        <li>Impulse control</li>
                        <li>Property destruction</li>
                        <li>Elopement/AWOL</li>
                    </ul>
                </div>
                <hr />
                <div class="main-title">The Services We Provide</div>
                <div class="main-body">
                    Our comprehensive, community-based residential and support services address all activities of daily living and are designed with both the individuals’ needs and those of their family in mind. 
                    We pride ourselves on providing a culturally competent system of care without any form of discrimination or stigma. 
                    Our primary areas of focus include but are not limited to the following:
                    <ul>
                        <li>Full residential services within a safe and secure internal and external environment</li>
                        <li>Residential care units</li>
                        <li>24-hour staff support and supervision</li>
                        <li>Overall treatment/care plan coordination—we act as a link to facilitate necessary health maintenance and treatment services, including planning, scheduling, and monitoring medical, psychiatric, psychological, dental, vision, therapy (individual and family), and other appointments</li>
                        <li>Medication management and administration through a properly trained Certified Medication Technician (CMT) under the delegating nursing authority of a registered nurse</li>
                        <li>Intensive case management and nursing care services</li>
                        <li>Access to the least restrictive health care and mental health services</li>
                        <li>Access to other comprehensive array of services for physical, emotional, behavioral, social, employment, and educational needs</li>
                        <li>Appropriate life skills training program</li>
                        <li>Employment, integration, and recreation in an environment that encourages and empowers individuals</li>
                        <li>Collaboration with organizations, businesses, and community resources and leaders as well as residents for shared responsibility for the successful outcomes of the individual in the community</li>
                        <li>Abuse and neglect monitoring, prevention, and reporting</li>
                        <li>Safe, non-disruptive parent/family engagement and involvement—we ensure that every interaction is productive, therapeutic, and consistent with the health and safety needs of the individual</li>
                        <li>Protection and preservation of the fundamental rights and dignity of every individual</li>
                        <li>Outing, recreation, and social and community integration and participation</li>
                        <li>Vacation planning</li>
                        <li>Transportation to appointments, outing/recreation, and vacation</li>
                        <li>Inclusion and involvement in decisions about personal choices and outcomes</li>
                    </ul>
                </div>
                <hr />
                <div class="main-title">Located Where The Individuals want To Be</div>
                <div class="main-body">
                    We believe in keeping the adults we serve as close to their communities and families as they want to be. Our residences are located within the Baltimore metropolitan area which includes Baltimore City and the surrounding counties such as Howard, Harford, Baltimore, Carroll, and Anne Arundel. Residence choice always reflects individual and family preference and takes into consideration compatibility, behavior, accessibility, common interests, age, lifestyle, and need. Other criteria include proximity to transportation, school, work, shopping, place of worship, and medical facilities.
                </div> 
            </div>
        </div>
    </div>
</div>
