footer {
    position: relative;
    margin-left: .95em;
    margin-right: .95em;
    background-color: #0c34adb3;
    padding: 30px 0 0;
    color: #fff;
}

.row {  
    position: relative;
    max-width: 1500px;
    padding: 0;
    height: auto;
    margin: 0 auto;
    width: 90%;
}

footer .footer-top {
    margin: 0 auto;
}

footer .footer-bottom {
    border-top: 1px solid #fff;
    padding: 20px 0 5px;
}

img {
    /* height: auto; */
    border: 0;
    mix-blend-mode: multiply;
}

.footer-left a {
    width: 50%;
    margin: 1em;
}

.footer-left img {
    float: left;
    width: 90%;
    height: 100%;
}

.footer-left .footer-left-toprow {
    display: flex;
}

.footer-left-toprow .footer-address {
    margin: 3em 1em 0 1.6em; 
    padding-top: 1em;
    font-size: 20px;
}

.footer-right-top {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 2em;
}

.footer-right-bottom {
    margin: 25px auto;
}

.footer-right-block {
    width: 50%
}

.footer-right .footer-right-programs {
    display: grid;
}

.footer-link {
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: none;
    font-size: 18px;
}

.footer-link:hover {
    color: #0c34adb3;
    font-size: 21px;
}

hr {
    margin-top: -0.2em;
}

.footer-right-bottom button.btn {
    margin-top: 1rem;
    width: 65%;
    background-color: rgba(12, 52, 173, 0.7);
    color: #ffffff;
    font-size: 18px;
    padding: 16px;
    border-radius: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 15px;
}

button.btn:hover {
    transform:translateY(-5px);
}

button.btn:active {
    transform: translateY(-1.5px);
}

.footer-right-button {
    text-align: center;
}

@media (max-width: 1230px) {
    .row {
        display: block;
    }

    .footer-left img {
        float: left;
        width: 30vw;
        height: 100%;
    }
}