footer {
    position: relative;
    margin-left: .95em;
    margin-right: .95em;
    background-color: #0c34adb3;
    padding: 30px 0 0;
    color: #fff;
}

.row {
    position: relative;
    max-width: 1500px;
    padding: 0;
    height: auto;
    margin: 0 auto;
    width: 90%;
}

footer .footer-top {
    margin: 0 auto;
}

footer .footer-bottom {
    border-top: 1px solid #fff;
    padding: 20px 0 5px;
}

img {
    height: auto;
    border: 0;
    mix-blend-mode: multiply;
}

.footer-left img {
    margin: 0;
    float: left;
    width: 40%;
    display: inline-block;
}

.footer-left .footer-left-toprow {
    display: flex;
}

.footer-left-toprow .footer-address {
    margin: 2.5em 0 1.5em 3em;
    font-size: 19px;
}

.footer-right-top {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 2em;
}

.footer-right-bottom {
    margin: 25px auto;
}

.footer-right-block {
    width: 50%
}

.footer-right .footer-right-programs {
    display: grid;
}

.footer-link {
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: none;
    font-size: 18px;
}

.footer-link:hover {
    color: #0c34adb3;
    font-size: 21px;
}

hr {
    margin-top: -0.2em;
}

