<footer class="footer">
    <div class="row footer-top">
        <div class="col footer-left">
            <div class="footer-left-toprow">
                <img 
                    src="../../assets/images/ISI_logo.jpg" 
                    alt="ISI logo">
                <div class="footer-address">
                    Innovative Services Inc.
                    <br />
                    300 Redland Ct. Suite #215
                    <br />
                    Owings Mills, MD 21117
                </div>
            </div>
            <div class="footer-left-middlerow">
                <div class="footer-about">
                    <p> 
                        Innovative Services Inc. (ISI) is an organization committed to a mission of human service excellence. 
                        ISI serves individuals with intellectual and developmental disabilities as well as various other medical, mental, 
                        and behavioral health diagnoses and attempts to make a positive impact in their lives.                    
                    </p>
                </div>
            </div>
            <div class="footer-left-bottomrow">
                <div class="footer-left-util">
                    Phone: <span>(410) 363-9495</span>
                </div>
                <div class="footer-left-util">
                    Fax: <span>(410) 363-9498</span>
                </div>
                <div class="footer-left-util">
                    Email: <span>info@isithreecs.org</span>
                </div>
            </div>
        </div>
        <div class="col footer-right">
            <div class="row footer-right-top">
                <div class="footer-right-block">
                    <h4>Residential Care Units</h4>
                    <hr />
                    <div class="col footer-right-programs">
                        <a href="" class="footer-link">Unit Locations</a>
                        <a href=""class="footer-link">Vacancies</a>
                    </div>
                </div>
                <div class="footer-right-block">
                    <h4>Programs</h4>
                    <hr />
                    <div class="col footer-right-programs">
                        <a href="" class="footer-link">Adult Program</a>
                        <a href=""class="footer-link">Youth Program</a>
                        <a href="" class="footer-link">Community Development Services</a>
                    </div>
                </div>
            </div>
            <div class="row footer-right-bottom">
                <div class="footer-right-block">
                    <h4>Career Opportunities</h4>
                    <hr />
                    <div class="col footer-right-programs">
                        <p> Looking to be a part of a diverse company with a chance to make a difference? 
                            Click below to view our available openings!
                        </p>
                        <div class="footer-right-button">
                            <button type="button" class="btn">View Positions</button>
                        </div>
                    </div>
                </div>
                <div class="footer-right-block">
                    <h4>Contact Us</h4>
                    <hr />
                    <div class="col footer-right-programs">
                        <p>
                            Do you have general questions or need help finding a vacant alternate living unit?
                        </p>
                        <div class="footer-right-button">
                            <button type="button" class="btn">Get in Touch</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row footer-bottom">
        <p>© 2023 Innovative Services Inc.</p>
    </div>
</footer>
