<footer class="footer">
    <div class="row footer-top">
        <div class="col footer-left">
            <div class="footer-left-toprow">
                <img 
                    src="../../assets/images/ISI_logo.jpg" 
                    alt="ISI logo">
                <div class="footer-address">
                    Innovative Services Inc.
                    <br />
                    300 Redland Ct. Suite #215
                    <br />
                    Owings Mills, MD 21117
                </div>
            </div>
            <div class="footer-left-middlerow">
                <div class="footer-about">
                    <p> 
                        Innovative Services Inc. (ISI) is an organization committed to a mission of human service excellence. 
                        ISI serves individuals with intellectual and developmental disabilities as well as various other medical, mental, 
                        and behavioral health diagnoses and attempts to make a positive impact in their lives.                    
                    </p>
                </div>
            </div>
        </div>
        <div col footer-right>

        </div>
    </div>
    <div class="row footer-bottom">
        <p>© 2023 Innovative Services Inc.</p>
    </div>
</footer>
