<div class="contact">
    <div class="contact-map">
        <google-map 
            height="600"
            width="100%"
            [options]="mapOptions">
                <map-marker [position]="marker.position"></map-marker>
        </google-map>
    </div>
    <div class="contact-main">
        <h2 class="contact-title">Get in Touch With Us</h2>
        <p class="contact-text">
            If you have any questions or would like to learn more about our services or career opportunities, 
            please fill out the form below and we’ll be in touch with you.
        </p>
        <form (submit)="onSubmit(contactForm)" #contactForm="ngForm" novalidate>
            <div class="form-fields">
                <div class="form-row"> 
                    <label for="name">Name: </label><br />
                    <input id="name" type="text" name="name" ngModel required maxlength="40">
                </div>
                <div class="form-row">
                    <label for="email">
                        Email: 
                    </label><br />
                    <input id="email" type="text" name="email" ngModel required email>
                </div>
                <div class="form-row">
                    <label for="phoneNumber">
                        Phone Number: 
                    </label><br />
                    <input id="phoneNumber" type="text" name="phoneNumber" ngModel required minlength="10" maxlength="14">
                </div>
                <div class="form-row">
                    <label for="message">
                        Message: 
                    </label><br />
                    <textarea id="message" rows="10" name="message" ngModel></textarea>
                </div>
            </div> 
            <button class="btn" type="submit">Submit</button>
        </form>
    </div>
</div>   
