$color-primary: rgba(12, 52, 173, 0.7);


.contact {
    margin: 0 1.5em;
    font-size: 24px;
    text-align: center;
}

.contact-main {
    padding: 1.5em;
}

.contact-title {
    font-size: 42px;
}

.contact-text {
    margin-left: 18em;
    margin-right: 18em;
    font-size: 24px;
    line-height: 1.2;
}

.form-fields {
    margin-left: 30%;
    margin-right: 30%;
}

.form-row {
    display: grid;
    min-width: 90%;
    font-size: 23px;
}

label {
   text-align: left;
}

.btn {
    margin-top: 1.5em;
    background-color: $color-primary;
    color: #ffffff;
    font-size: 17px;
    padding: 10px 15px;
    border-radius: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 22px;
    transition: transform .4s;

    &:hover {
        transform:translateY(-5px);
        background-color: lighten($color-primary, 15%);
    }

    &:active {
        transform: translateY(-1.5px);
    }
}

@media(max-width: 1650px) {
    .contact-text {
        margin: auto 13em;
    }

    .form-fields {
        margin-left: 23%;
        margin-right: 23%;
    }
}

@media(max-width: 1200px) {
    .contact-title {
        font-size: 3.5vw;
    }

    .contact-text {
        margin: auto 10em;
        font-size: 2vw;
    }

    .form-fields {
        margin-left: 17%;
        margin-right: 17%;
    }

    .form-row {
        font-size: 2vw;
    }
}

@media(max-width: 950px) {
    .contact-title {
        font-size: 32px;
    }

    .contact-text {
        margin: auto 5em;
        font-size: 19px;
    }

    .form-row {
        font-size: 19px;
    }
}

@media(max-width: 600px) {
    .contact-text {
        margin: auto 1.5em;
    }

    .form-fields {
        margin: auto 8%;
    }
}

@media(max-width: 400px) {
    .contact-title {
        font-size: 26px;
    }
    
    .contact-text {
        margin: auto;
        font-size: 16.5px;
    }

    .form-fields {
        margin: auto;
    }

    .form-row {
        font-size: 16px;
    }
}