.navbar-brand img {
    width: 280px;
    height: 175px;
}

@media(max-width: 1100px) {
    .navbar-brand img {
        width: 25.4vw;
    }
}

@media(max-width: 900px) {
    .navbar-brand img {
        width: 230px;
        height: 150px;
    }
}

@media(max-width: 575px) {
    .navbar-brand img {
        width: 40vw;
        height: 15vh;
    }
}