<div class="about">
    <div class="about-header">
        <div class="header-box">
            <div class="header-text">
                <h1>About Us</h1>
                <p>
                    Established in 1999, Innovative Services, Inc. is a community residential and support service provider 
                    assisting individuals of all ages with intellectual and developmental disabilities 
                    as well as other medical, mental, and behavioral health diagnoses who require specialized living arrangements. 
                    It’s our goal to help them live, work, and socialize successfully in the communities where they want to be.
                </p>
            </div> 
        </div>
    </div>
    <div class="about-main">
        <div class="about-sidebar">
            <div class="sidebar-content-top">
                <h4>Contact Us</h4>
                <p>
                    Do you have general questions or need help finding a residential care unit?
                </p>
                <a routerLink="/contact-us">
                    <button type="button" class="btn btn-sm">Get In Touch</button>
                </a>
            </div>
            <div class="sidebar-content-btm">
                <h4>Residential Care Units</h4>
                <p>
                    See our listing of all available vacancies.
                </p>
                <a routerLink="/unit-vacancies">
                    <button type="button" class="btn btn-sm">View All</button>
                </a>
            </div>
        </div>
        <div class="col">
            <p>
                We are dedicated to human service excellence and we provide our services to all eligible individuals without discrimination because of race, 
                color, sex, age, national origin, marital status, physical, developmental or mental disability.
            </p>
            <hr />
            <div class="main-text">
                <div class="main-title">Our Mission — Commitment. Compassion. Companion.</div>
                <div class="main-body">
                    Guided by our three C’s, our mission is to encourage, enable, 
                    and facilitate a life of self-determination, inclusion, independence, 
                    and participation for individuals with intellectual and developmental disabilities 
                    as well as other medical, mental and behavioral health diagnoses.
                    <ul>
                        <li>We implement the self-actualization principle for every individual to ensure that they achieve their full or maximum potential, creativity, knowledge, and spiritual enlightenment regardless of internal or external limitations or constraints.</li>
                        <li>We provide quality services by fostering and emphasizing effective growth, development, integration, and self-determination.</li>
                        <li>We enable individuals to serve as their own advocates and express themselves without fear of intimidation or adverse consequences.</li>
                        <li>We successfully integrate the individuals into the community of their choice, and, to the best of their abilities, encourage them to be independent, participating, and contributing members of the community.</li>
                    </ul>
                </div>
                <hr />
                <div class="main-title">Our Values — To Serve and Care for our Individuals</div>
                <div class="main-body">
                    <ul>
                        <li>We are committed to providing a safe, secure, healthy, and inclusive environment. We demand and expect our employees, contractors, and other stakeholders to embrace and support this environment.</li>
                        <li>Our values also include taking care of our employees, contractors, and other stakeholders, treating them well and encouraging, supporting, and empowering them to grow both professionally and personally.</li>
                        <li>We also try our best without fail to respect and protect the environment where we operate, and maintain a positive relationship with our clients, employees, advocates, community, and other stakeholders.</li>
                    </ul>
                </div> 
            </div>
        </div>
    </div>
</div>

<!-- TODO: add the 3Cs -->