.home {
    height: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 19px;
}

 .header {
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 200;
    text-transform: uppercase;
    text-shadow: #597ef8 5px 0 10px;
    padding-bottom: 12px;
}

.btn {
    margin-top: .8em;
    background-color: rgba(12, 52, 173, 0.7);
    color: #FFFFFF;
    font-size: 24px;
    padding: 20px 40px;
    border-radius: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 15px;
    transition: transform .4s;

    &:hover {
        transform:translateY(-5px);
        background-color: lighten(rgba(12, 52, 173, 0.7), 15%);
    }

    &:active {
        transform: translateY(-1.5px);
    }
}

.row {
    justify-content: space-evenly;
}

hr {
    margin-top: -0.2em;
}

a {
    text-decoration: none;
    text-transform: uppercase;  
}

.home-cover {
    background: url(../../../assets/images/isi-coverimage.jpg);
    height: 105.25vh; 
    background-repeat: no-repeat;
    background-position: center 0vh;
    background-size: 105vw 105vh; 
        -webkit-background-size: 105vw 105vh; 
        -moz-background-size: 105vw 105vh; 
        -o-background-size: 105vw 105vh;
}

.home-content {
    width: 30%;
    margin: 1em;
    margin-left: 2.5rem;
    padding-top: 15%;
}

.home .btn {
    font-size: 26px;
    line-height: 1.3em;
    padding: 14px 32px;
    font-weight: bold;
}

.home-links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.link {
    transition: transform .6s;

    &:hover {
        transform: scale(1.07);
    }
}

.mission {
    background: radial-gradient(ellipse at center, #FFFFFF 0%, #597ef8 100%);
    position: relative;
    padding: 0;
    padding-bottom: 6.5rem;
    margin: 0 auto;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
    z-index: 2;
}

.outline {
    margin-right: 8em;
    margin-left: 8em;
}

.mission .outline {
    border: 1.5px solid #FFFFFF;
}

.mission-top {
    z-index: -1;
    padding: 25px 30px;
    margin-top: -20px;
    box-sizing: border-box;
}

.mission-btm {
    padding: 1px 30px;
    padding-bottom: 50px;
}

.vacancies {
    margin-top: 0.5em;
}

.vacancies .header {
    color: #0c34adb3;
    text-shadow: #597ef8 5px 0 5px;
}

.vacancies .text .vacancies-button {
    margin-left: .5em;
}

.vacancies .card-row {
    display: flex;
    justify-content: space-around;
}

.vacancies .card {
    height: 425px;
    width: 350px;
    margin: 2em;
    padding: 2em 1em;
    box-shadow: 12px 15px 20px rgb(0 0 0 / 15%);
    border-radius: 3px;
    box-sizing: border-box;
    position: relative;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.card .card-text {
    margin-top: -5%;
    font-size: 180px;
}

.jobs {
    background: radial-gradient(ellipse at center, #FFFFFF 0%, #597ef8 100%);
    text-align: center;
    clip-path: polygon(0% 0%, 100% 12%, 100% 100%, 0% 100%);
}

.jobs .outline {
    padding-top: 6.5em;
}

.jobs .text {
    display: flex;
}

.jobs .text .left-block {
    width: 49%;
    margin: 2em 1em;
    /* margin-right: -2em;  */
    padding-top: 2em;
}

.jobs .text .left-block #featured {
    font-weight: bold;
}

.jobs .text .right-block {
    width: 48%;
    margin: 2em 0;
}

.jobs .right-block .job-img {
    width: 31vw;
    height: 39vh;
    box-shadow: 15px 15px 11px rgb(0 0 0 / 15%);
}

.job-img:active {
    transform:translateY(4px);
}

@media (max-width: 1200px) { 
    .outline {
        margin: 0 4em;
    }
    
    .btn {
        font-size: 1.6vw;
        padding: 15px 20px;
    }

    .home-content {
        width: 38%
    }

    .home-cover {
        background: url(../../../assets/images/isi-coverimage.jpg);
        height: 85.6vh; 
        background-repeat: no-repeat;
        background-size: 100vw 85vh; 
            -webkit-background-size: 100vw 85vh; 
            -moz-background-size: 100vw 85vh; 
            -o-background-size: 100vw 85vh;
    }

    .home .header {
        font-size: 5vw;
    }

    .home .btn {
        font-size: 2.4vw;
    }

    .jobs .right-block .job-img {
        width: 40vw;
        height: 35vh;
    }
}

@media (max-width: 900px) {
    .home {
        height: auto;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 19px;
    }

    .home-cover {
        background: url(../../../assets/images/isi-coverimage.jpg);
        height: 75.6vh; 
        background-repeat: no-repeat;
        background-position: center 0vh;
        background-size: 100vw 80vh; 
            -webkit-background-size: 100vw 75vh; 
            -moz-background-size: 100vw 80vh; 
            -o-background-size: 100vw 80vh;
    }

    .home-content {
        width: 25%
    }

    .home .btn {
        padding: 14px 24px;
    }

    button.btn {
        font-size: 2.2vw;
        padding: 20px 15px;
    }
    
    .home-links {
        display: block;
    }

    .vacancies .outline {
        margin-left: 5em;
        margin-right: 5em;
    }

    .vacancies .card-row {
        display: grid;
        justify-content: center;
    }

    .jobs .outline {
        padding-top: 9.5em;
    }

    .jobs .text {
        display: grid;
        justify-items: center;
    }

    .jobs .right-block .job-img {
        width: 48vw;
        height: 41vh;
        margin-bottom: 1em;
        margin-left: -2em;
    }


}

@media (max-width: 650px) {

    .btn {
        font-size: 14px;
        padding: 18px 13px;
    }

    .home-content .header {
        font-size: 27px;
        margin-top: 29vh;
    }

    .home .btn {
        font-size: 2.4vw;
        line-height: 1.3em;
        padding: 8px 14px;
    }
    
    .mission {
        padding-bottom: 6.5rem;
        clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
    }

    .mission .outline {
        margin: auto 2em;
    }
    
    .vacancies {
        margin-top: 1.5em;
    }

    .jobs {
        clip-path: polygon(0% 0%, 100% 8%, 100% 100%, 0% 100%);
    }

    .jobs .right-block .job-img {
        width: 50vw;
        height: 27vh;
        margin-bottom: 1em;
        margin-left: auto;
    }

    .jobs .outline {
        margin: 0 0.5em;
    }
}