<div class="home">
    <div class="home-cover">
        <div class="home-overlay">
            <div class="home-content">
                <h1 class="header">We Encourage & Empower Individuals</h1>
                <a href="/about-us">
                    <button type="button" class="btn btn-lg">See How We Do It</button>
                </a>
            </div>
        </div>
    </div>
    <div class="home-links">
        <a href="/adult-program">
            <div class="link">
                <app-linkbox [imgUrl]="adultLinkImg" [linkTitle]="adultLinkTitle"></app-linkbox>
            </div>
        </a>
        <a href="/youth-program">
            <div class="link">
                <app-linkbox [imgUrl]="youthLinkImg"[linkTitle]="youthLinkTitle"></app-linkbox>
            </div>
        </a>
        <a href="/community-development-services">
            <div class="link">
                <app-linkbox [imgUrl]="cdsLinkImg" [linkTitle]="cdsLinkTitle"></app-linkbox>
            </div>
        </a>
    </div>  
    <div class="mission">
        <div class="outline">
            <div class="mission-top">
                <div class="header"> 
                    <h1><strong>Inclusion. Self-Determination. Independence</strong></h1>
                </div>
                <div class=text>
                    <p>Every individual deserves all three. 
                        Innovative Services, Inc. is committed to making a positive impact on the lives of individuals with intellectual and developmental disability as well as various other medical, mental, and behavioral health diagnoses. 
                        We find the right residence that meets each individual’s needs in the community of their choice and then provide the support and security to help them maximize their potential.
                    </p>
                </div>
            </div>
            <div class="mission-btm">
                <div class="header"> 
                    <h1><strong>The Way We Work</strong></h1>
                </div>
                <div class=text>
                    <h4><strong>Commitment. Compassion. Companion.</strong></h4>
                    <p>The three c's affect every decision we make, 
                        every service we offer, and every interaction we have with the individuals in our care, 
                        their families, and within our team. <br />
                        Click below to get in touch with us and find out more!
                    </p>
                </div>
                <a href="/contact-us">
                    <button type="button" class="btn btn-lg">Learn More</button>
                </a>
            </div>  
        </div>
    </div>
    <section class="vacancies">
        <div class="outline">
            <div class="header">
                <h1><strong>Room to Grow</strong></h1>
            </div>
            <div class="text">
                <p>We currently have __ vacancies across all of our Adult and Youth units.</p>
                <div class="card-row">
                    <div class="adult">
                        <a href="/unit-vacancies">
                            <div class="card">
                                <h3 class="adult-card-heading">Adult</h3>
                                <hr />
                                <p class="card-text">7</p>
                            </div>
                        </a>
                    </div>
                    <div class="youth">
                        <a href="/unit-vacancies">
                            <div class="card">
                                <h3 class="youth-card-heading">Youth</h3>
                                <hr />
                                <p class="card-text">0</p>
                            </div>
                        </a>
                    </div>
                </div>
                <a href="/unit-vacancies">
                    <div class="vacancies-button">
                        <button type="button" class="btn btn-lg ">Program Vacancies</button>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <div class="jobs">
        <div class="outline">
            <div class="header">
                <h1><strong>Make An Impact In Your Life and Theirs</strong></h1>
            </div>
            <div class="text">
                <div class="left-block">
                    <p>
                        Are you laser-focused but open-minded? <br />
                        Do you want to make change happen instead of just wishing for it? <br /> 
                        Can you accept any challenge knowing that it can deliver an even greater reward? <br />
                        You might be the just the person we’re looking for.
                    </p>
                    <a href="/careers">
                        <div class="jobs-button">
                            <button type="button" class="btn btn-lg ">Browse Our Job Openings</button>
                        </div>
                    </a>
                </div>
                <div class="right-block">
                    <a href="/careers">
                        <img src="../../../assets/images/hp-apply-img.jpeg" width="500px" height="315px" class="job-img"/>
                    </a>
                    <h4>Featured Career:</h4>
                    <a href="/careers">
                        <h3 id="featured">Direct Support Professional</h3>
                    </a>
                    <p>Under the direct supervision of the House Manager, 
                        the Direct Support Professional has the primary responsibility of assisting with the necessary daily care of the program participants, both personal and medical.</p>
                </div>
            </div>
        </div>
    </div>
</div>