<div class="cds-page">
    <div class="page-header">
        <div class="header-box">
            <div class="header-text">
                <h1>Community Development Services</h1>
                <p>The Community Development Services (CDS) program provides participants with the opportunity to develop and maintain skills to be productive community members by engaging them in community- based activities alongside people without disabilities.</p>
            </div>
        </div>
    </div>
    <div class="cds-main">
        <div class="sidebar">
            <div class="sidebar-content-top">
                <h4>Contact Us</h4>
                <p>
                    Do you have general questions or need help finding a residential care unit?
                </p>
                <a href="/contact-us">
                    <button type="button" class="btn btn-sm">Get In Touch</button>
                </a>
            </div>
            <div class="sidebar-content-btm">
                <h4>Residential Care Units</h4>
                <p>
                    See our listing of all available vacancies.
                </p>
                <a href="/unit-vacancies">
                    <button type="button" class="btn btn-sm">View All</button>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="main-text">
                <div class="main-title">Scope</div>
                <div class="main-body">
                    <ul>
                        <li>Day habilitative services, separate from community residential services that can be provided in various settings in the community, based on the person’s interests, skills, and abilities</li>
                        <li>Help participants learn new skills and keep existing skills related to their individual goals and outcome.</li>
                        <li>Facilitate the development of community membership and the opportunities to develop skills and increase independence related to community integration with mostly people without disabilities and paid staff</li>
                        <li>Use different approaches that provide participants with opportunities to engage in community-based activities that support building social connections, employment, socialization, life-long learning, recreation, personal development as well as integration and inclusion in the community.</li>
                        <li>Support the participants’ growth and development of skills and social supports needed for gaining, retaining or advancing competitive integrated employment opportunities.</li>
                        <li>Through support, participants have opportunities to learn socially acceptable behavior and self-advocacy skills (through self-advocacy classes and activities) designed to help them become more independent and to be engaged in their community of choice and reduce or eliminate ongoing staff support.</li>
                    </ul>
                </div>
            </div>
            <div class="main-text">
                <div class="main-title">Scope</div>
                <div class="main-body">
                    <ul>
                        <li>Promote positive-growth and develop skills and social supports to gain, retain or advance competitive integrated employment opportunities.</li>
                        <li>Provide a setting for participants to learn socially acceptable behavior</li>
                        <li>Support participants efforts in learning, through classes and activities, necessary skills for self-advocacy.</li>
                        <li>Participants shall learn, practice, and apply skills and participate in activities that facilitate and promote greater independence, integration and inclusion in the chosen community. 
                            This shall include travel training; using different modes of transportation to, from, and within activities, and identifying a path to employment for those at working age.</li>
                        <li>Building and strengthening relationships with community members who are not paid to be with the participant.</li>
                        <li>Meeting new people, making friends, going to classes to learn, and engaging in activities for fun and fitness.</li>
                        <li>Participating in various local community events, volunteering within a non-profit organization whose mission the participant supports.</li>
                        <li>Training and supports designed to maintain abilities and to prevent or slow loss of skills for participants with declining conditions.</li>
                        <li>Provide personal care assistance (activities of daily living and instrumental activities of daily living) if it does not comprise the entirety of the CDS during community activities.</li>
                        <li>Possible activities include identifying the path to employment, travel training, self-advocacy, local community events and volunteering, retirement activities.</li>
                        <li>Required skills to successfully perform assigned tasks.</li>
                        <li>Community mobility training to eliminate or reduce access limitation to available resources, including transportation.</li>
                        <li>Guidance and training in acceptable community behaviors.</li>
                    </ul>
                </div>
        </div>
    </div>
</div>
