<div class="cds-page">
    <div class="page-header">
        <div class="header-box">
            <div class="header-text">
                <h1>Community Development Services</h1>
                <p>The Community Development Services (CDS) program provides participants with the opportunity to develop and maintain skills to be productive community members by engaging them in community- based activities alongside people without disabilities.</p>
            </div>
        </div>
    </div>
    <div class="ap-main">
        <div class="sidebar">
            <div class="sidebar-content-top">
                <h4>Contact Us</h4>
                <p>
                    Do you have general questions or need help finding a residential care unit?
                </p>
                <a href="/contact-us">
                    <button type="button" class="btn btn-sm">Get In Touch</button>
                </a>
            </div>
            <div class="sidebar-content-btm">
                <h4>Residential Care Units</h4>
                <p>
                    See our listing of all available vacancies.
                </p>
                <a href="/unit-vacancies">
                    <button type="button" class="btn btn-sm">View All</button>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="main-text">Scope</div>
                <div class="main-title">
                    <ul>
                        <li>
                            Day habilitative services, separate from community residential services that can be provided in various settings in the community, based on the person’s interests, skills, and abilities
                        </li>
                        <li>
                            Help participants learn new skills and keep existing skills related to their individual goals and outcome.
                        </li>
                        <li>
                            Facilitate the development of community membership and the opportunities to develop skills and increase independence related to community integration with mostly people without disabilities and paid staff
                        </li>
                        <li>
                            Use different approaches that provide participants with opportunities to engage in community-based activities that support building social connections, employment, socialization, life-long learning, recreation, personal development as well as integration and inclusion in the community.
                        </li>
                        <li>
                            Support the participants’ growth and development of skills and social supports needed for gaining, retaining or advancing competitive integrated employment opportunities. 
                        </li>
                        <li>Through support, participants have opportunities to learn socially acceptable behavior and self-advocacy skills (through self-advocacy classes and activities) designed to help them become more independent and to be engaged in their community of choice and reduce or eliminate ongoing staff support.</li>
                    </ul>
                </div>
        </div>
</div>
