<div class="careers-page">
    <div class="page-header">
        <div class="header-box">
            <div class="header-text">
                <h1>Careers</h1>
                <p>Innovative Services, Inc. is an equal opportunity employer and recruits, hires, and promotes all personnel based on merit, without regard to race, religion, color, sex, marital status, age, national origin, veteran status, or disability. 
                    Innovative Services, Inc. is committed to workplace diversity, and candidates of all backgrounds are encouraged to apply.</p>
            </div>
        </div>
    </div>
    <div class="careers-main">
        <div class="sidebar">
            <div class="sidebar-content-top">
                <h4>Contact Us</h4>
                <p>
                    Do you have general questions or need help finding a residential care unit?
                </p>
                <a routerLink="/contact-us">
                    <button type="button" class="btn">Get In Touch</button>
                </a>
            </div>
            <div class="sidebar-content-btm">
                <h4>Residential Care Units</h4>
                <p>
                    See our listing of all available vacancies.
                </p>
                <a routerLink="/unit-vacancies">
                    <button type="button" class="btn">View All</button>
                </a>
            </div>
        </div>
        <div class="main-content">
            <div class="main-title">Available Positions</div>
            <div class="row positions">
                <div class="post-card">
                    <h3>House Manager/Program Coordinator</h3>
                    <p>Reports to: Program Director<br />
                        Classification: Full Time</p>
                    <button type="button" class="btn job-btn" data-bs-toggle="modal" data-bs-target="#jobModal1">See Full Position Description</button>
                    <div class="modal fade" id="jobModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="">House Manager/Program Coordinator</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="heading">Program Summary</div>
                                <div class="desc-text summary">
                                    The House Manager/Program Coordinator plays a vital direct care and supervisory role within the community-based programs of ISI. 
                                    The position plans and supports the participation of program participants in a variety of life experiences in the community and is responsible for ensuring proper staffing of shifts and for monitoring the operations of the assigned areas. 
                                    The incumbent will participate in recruiting, training, and supervising competent direct support professionals to provide appropriate support to the program participants. 
                                    This position will ensure that services are delivered with the most efficient use of resources, in clean and safe environments, and in a manner that helps the program participants experience quality services. 
                                    The House Manager/Program Coordinator shall be highly motivated, committed, and a self-starter who can coordinate services, and encourage individual independence, choice, and community integration. 
                                    The ideal candidate must be entrepreneurial minded, demonstrate personal commitment to service quality & excellence as well as leadership.
                                </div>
                                <hr />
                                <div class="heading">Duties & Responsibilites</div>
                                <div class="desc-text">
                                    <ul>
                                        <u>Supervision:</u>
                                        <li>Provide leadership and actively supervise staff at all times, and resolve difficult or complex problems.
                                        <li>Provide supervisory guidance to employees by establishing work plans, timeframes and/or deadlines, and staff assignments.</li>
                                        <li>Monitor shift for proper staffing and ensure proper coverage.</li>
                                        <li>Conduct, document and supervise monthly fire drills and submit result to the Program Director.</li>
                                        <li>Conduct, document and supervise monthly fire drills and submit result to the Program Director.Review and coordinate employee performance evaluation with the Program Director.</li>
                                        <li>Supervise support staff including input in selection and hiring of new staff, initial and ongoing training, scheduling and setting work hours, training, probation and annual evaluations, discipline and discharge, input into promotional decisions, and setting of wage rates.
                                        <li>Provide leadership in promoting staff commitment and implementing quality service principles.</li>
                                        <li>In collaboration with the Program Director, provide orientation, and support of assigned staff.</li>
                                        
                                        <br /><u>Individual Support:</u>
                                        <li>Plan and supervise recreational and leisure time activities.</li>
                                        <li>Collect and prepare data for each individual's program plan.</li>
                                        <li>Inspect residential care facilities periodically to monitor the care given to program participants.</li>
                                        <li>Transport ill or injured individuals to clinic or hospital when appropriate to do so, and may contact parents/guardians regarding the health status of the individuals.</li>
                                        <li>Support the individuals’ functional participation in activities and opportunities as indicated in their treatment plan and Service Plan.
                                        <li>Provide support to individuals, when necessary, including assistance with daily activities such as meal preparation and planning, dining, medication administration, toileting, transfers, and other personal care.</li>
                                        <li>Facilitate community involvement by accompanying individuals on outings in the community, or providing transportation to work or other activities.</li>
                                        <li>Promote and protect the health and safety of program participants.</li>
                                        <li>Schedule and manage program participants’ medical and related appointments and medication administration.</li>
                                        <li>Assist and instruct individuals in the activities of daily living and community participation.</li>
                                        <li>Provide and/or assist with providing direct personal care to individuals, including, but not limited to; feeding, dressing, toileting, and personal hygiene, while respecting the privacy and dignity of each individual.</li>
                                        <li>Coordinate program participant’s income and complete all banking procedures in order to ensure the safety of the participant’s monies. Ensure and document each participant’s access to personal money for activities and purchases.</li>
                                        <li>Monitor all health services for each individual, including medication, regular appointments, etc.</li>
                                        <li>Administer medication and implement delegated responsibilities.</li>
                                        <li>Participate as a member of a person-centered planning team by communicating the individual’s interests, likes/dislikes, and by being a role model for the individuals.</li>
                                        <li>Develop, coordinate and implement an individual program plan which ensures consistency and accurate data collection, and emphasizes greater independence for each individual.</li>
                                        <li>Schedule, coordinate, and transport and/or escort consumers to program, medical, dental, or other appointments as needed.</li>
                                        <li>Arrange and monitor transportation to and from medical appointments</li>
                                        <li>Track program participants’ progress and monitor succession of training to ensure continuity of care</li>
                                        <li>Provide direct service support as assigned, in response to the needs of the individuals.</li>
                                        <li>Provide direct care teaching and modeling to individuals as needed.</li>
                                        <li>Provide support and assistance to individuals necessary for them to attain their personal objectives related to community membership.</li>

                                        <br /><u>General:</u>
                                        <li>Observe workers, monitor documentation and check for proper security, and safety hazards.</li>
                                        <li>Participate in searches for runaways and may contact police and/or parents.</li>
                                        <li>Participate in individual/group activities, individual’s team meetings either in or outside the program site, and community integration experiences.</li>
                                        <li>Maintain adequate records and files as required.</li>
                                        <li>Maintain a positive working relationship with the interdisciplinary team, and communicate with parents and guardians as appropriate.</li>
                                        <li>Ensure a safe training and home environment for program participants.</li>
                                        <li>Assure that services are provided in the most inclusive, least restrictive, community based fashion, while meeting the individuals’ needs and helping them work towards their needs.</li>
                                        <li>Mitigate the likelihood of fraud and abuse by staff, volunteers, and/or participants through comprehensive and hands on supervision and monitoring of programs as well as holding staff accountable.</li>
                                        <li>Maintain house and vehicles in accordance with program standards.</li>
                                        <li>Ensure compliance with the state and federal regulation, and implement all policies and procedures as directed.</li>
                                        <li>Foster community inclusion by involving the individuals in the planning and implementation of recreational and leisure time activities.</li>
                                        <li>Perform on call responsibilities. On-call availability is expected in order to deal with staffing issues, emergencies and reports as indicated by program guidelines.</li> 
                                        <li>Intervene when needed to protect individuals and staff.</li>
                                        <li>Monitor and review daily documentation of participation and training for each individual, including observing and recording behavior and progress on goals and outcomes.</li>
                                        <li>Participate in program quality improvement and planning</li>
                                        <li>Assist staff and/or co-workers in performing lifting or transferring of individuals to and from a wheelchair, bathroom, therapy tables or bed, and perform any other lifts or transfers as required.</li>
                                        <li>Develop and monitor the recreational schedule for the residence and individuals.</li>
                                        <li>Document daily and/or unusual occurrences, including, but not limited to: fire drill performance, incident reports, program data sheets, time sheets, vehicle mileage sheets, daily log entries, bed checks, and any other documentation required.</li>
                                        <li>Attend and participate in all required training sessions.  This includes all initial trainings and re-certifications and updates as directed thereafter.</li>
                                        <li>Attend and participate in all staff meetings.</li>
                                        <li>Administer medications and treatments upon satisfactory completion of the medication administration course.  Certification must be maintained through remedial training and two-year recertification.</li>
                                        <li>Implement and carry out prescribed therapies or treatments as ordered by licensed physicians, nursing staff, or therapists.</li>
                                        <li>Perform behavior management and implement behavior management plan when necessary.</li>
                                        <li>Demonstrate an understanding of person-centered philosophy by respecting and encouraging individuals to be as independent as possible, providing opportunities to make life choices, encouraging them to communicate their feelings and concerns without the fear of harm or reprisal, and ensuring that they receive supports and services which are effective and meet their needs.</li>
                                        <li>Perform all job duties in a safe manner by observing all organization safety rules, procedures and practices.</li>
                                        <li>Assume complete responsibility for community programming for individuals living in the assigned residence, including recreation, residential habilitation, and health and medical care.</li> 
                                        <li>Provide training to staff and individuals as needed in skills such as activities of daily living, household management, independent living, money management, safety, and all other aspects of community living. </li>
                                        <li>Review medication administration records at least three times per week</li>
                                        <li>Maintain all program participants’ account records</li>
                                        <li>Work closely with the delegating nurse regarding all program participants’ medical care and medication management and administration.</li>
                                        <li>Shall be responsible for other duties as assigned</li>
                                        
                                        <br /><u>Facility:</u>
                                        <li>Ensure that the house is maintained in a satisfactory level by ensuring and enforcing cleanliness throughout the home, and reporting any needs for repairs.</li>
                                        <li>Audit residential site records periodically to ensure proper documentation and compliance with program requirements.</li>
                                        <li>Ensure overall upkeep of the residential program site and agency vehicles, providing safe transportation of individual(s), and safe environment in the home.</li>
                                        <li>Participate in the day to day operation of the residence by assisting in meal planning and preparation, inventory, shopping and purchasing of food and household supplies, and the cleaning of the residence, while actively involving the individuals to the greatest degree possible.</li>
                                        <li>Manage the physical environment (including safety, sanitation, maintenance/upkeep, etc.) and regular house routines.</li>
                                    </ul>
                                </div>
                                <hr />
                                <div class="heading">Minimum Requirements</div>
                                <div class="desc-text">
                                    <ul>
                                        <li>Total care (ambulatory and non-ambulatory, unsteady gait, etc.)</li>
                                        <li>Various medical issues and diagnoses (hearing impaired, legally blind, incontinence, enuresis, etc.)</li>
                                        <li>Emotionally disturbed</li>
                                        <li>Bipolar disorder</li>
                                        <li>Delinquent</li>
                                        <li>Aggressive behavior</li>
                                        <li>Self-injurious behavior</li>
                                        <li>Austim spectrum disorder</li>
                                        <li>ADHD</li>
                                        <li>Anxiety disorder</li>
                                        <li>PTSD</li>
                                        <li>Impulse control</li>
                                        <li>Property destruction</li>
                                        <li>Elopement/AWOL</li>
                                    </ul>
                                </div> 
                            </div>
                            <div class="modal-footer">
                            <a href="javascript:void( window.open( 'https://form.jotform.com/230874363383057', 'blank', 'scrollbars=yes, toolbar=no, width=700, height=500' ) ) "><button type="button" class="btn btn-sm">Apply</button></a>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="post-card">
                    <h3>Direct Support Professional</h3>
                    <p>Reports to: Program Coordinator<br />
                    Classification: Full Time/Part Time</p>
                    <button type="button" class="btn job-btn" data-bs-toggle="modal" data-bs-target="#jobModal2">See Full Position Description</button>
                    <div class="modal fade" id="jobModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="">Direct Support Professional</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="heading">Program Summary</div>
                                <div class="desc-text summary">
                                    Under the direct supervision of the House Manager/Program Coordinator and the direction of the Director of Programs, the Direct Support Professional has the primary responsibility of assisting with the necessary daily care of the program participants. 
                                    The Direct Support Professiona
                                    l shall also be responsible for the day-to-day operation of the Residential Care Unit (RCU), as well as maintain the unit in a manner that promotes a safe environment. 
                                    This includes performing general housekeeping duties, keeping the RCU free of dangerous and hazardous materials, and monitoring the activities of the program participants to ensure that they are free of harm.
                                </div>
                                <hr />
                                <div class="heading">Duties & Responsibilites</div>
                                <div class="desc-text">
                                    <ul>
                                        <li>Provide support to individuals, including assistance with daily activities such as meal planning and preparation, dining, 
                                            medication administration, toileting, transfers, and other personal care, while respecting the privacy and dignity of each program participant.</li>
                                        <li>Maintain the residential care facility in a manner that promotes a safe environment which is free of dangerous and hazardous materials.</li>
                                        <li>Interact with and advocate for the individuals as often as required.</li>
                                        <li>Report repair issues at the RCU to the House Manager.</li>
                                        <li>Facilitate community involvement by accompanying individuals on outings in the community, or providing transportation to work, appointments and other activities.</li>
                                        <li>Transport ill or injured individuals to clinic or hospital when appropriate to do so and contact the House Manager regarding the health status of the individuals.</li>
                                        <li>Be prepared to remain at the clinic or hospital with individuals during the duration of their stay.</li>
                                        <li>Promote and protect the health and safety of the individuals by monitoring their activities.</li>
                                        <li>Provide direct service support as assigned, in response to the needs of the individuals.</li>
                                        <li>Provide support and assistance to individuals necessary for them to attain their personal objectives related to community membership.</li>
                                    </ul>
                                </div>
                                <hr />
                                <div class="heading">Minimum Requirements</div>
                                <div class="desc-text">
                                    <ul>
                                        <li>Good interpersonal skills and the ability to communicate and work effectively, individually and as part of a team with subordinates, other staff and supervisor throughout the organization.</li>
                                        <li>Good written and oral communication skills.</li>
                                        <li>Must be detail oriented, organized, self-disciplined, energetic, and deadline conscious.</li>
                                        <li> Ability to maintain confidentiality with regards to privileged and program participants’ information.</li>
                                        <li>Must be willing and able to support individuals with different levels of diagnoses.</li>
                                        <li>High School Diploma, GED or equivalent required, one year of college preferred</li>
                                        <li>At least one year of experience working with the population served</li>
                                        <li>Valid driver’s license and acceptable driving record required</li>
                                        <li>Acceptable criminal background is a must</li>
                                        <li>Must have CMT license or willing and able to obtain certification</li>
                                        <li>Must have no lifting restrictions. Ability to transfer individuals, talk, hear, sit, stand, walk, use hands to finger, handle, or feel object, tools, or controls, reach with hands and arms and stoop, kneel, crouch or crawl.</li>
                                    </ul>
                                </div> 
                            </div>
                            <div class="modal-footer">
                            <a href="javascript:void( window.open( 'https://form.jotform.com/230874363383057', 'blank', 'scrollbars=yes, toolbar=no, width=700, height=500' ) ) "><button type="button" class="btn btn-sm">Apply</button></a>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="post-card">
                    <h3>Facility and Property Manager</h3>
                    <p>Reports to: Executive Director<br />
                        Classification: Part Time</p>
                        <button type="button" class="btn job-btn" data-bs-toggle="modal" data-bs-target="#jobModal5">See Full Position Description</button>
                        <div class="modal fade" id="jobModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h1 class="modal-title fs-5" id="">Facility and Property Manager</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="heading">Program Summary</div>
                                    <div class="desc-text summary">
                                        This position will manage services and processes that support the residential care program of Innovative Services, Inc. 
                                        The facility manager will ensure that each facility and environment is suitable for the program participants and employees. 
                                        This position plays a pivotal role in executing the organization’s facility, real estate and procurement strategy to maintain operations as well as support strategic growth initiatives, including acquisition and mergers. 
                                        The facility or property manager will be involved in both strategic planning and day-to-day operation, particularly in relation to the residential care sites, buildings, and premises. 
                                        This position requires a person who has the ability to perform duties that include more practical and hands-on tasks, is responsible, highly motivated, committed, self-discipline, and a self-starter. 
                                        The ideal candidate for this job is entrepreneurial minded, analytical, organized, creative, innovative, and has the ability to communicate with internal and external personnel at all levels.
                                    </div>
                                    <hr />
                                    <div class="heading">Duties & Responsibilites</div>
                                    <div class="desc-text">
                                        <ul>
                                            <li>Provide support to individuals, including assistance with daily activities such as meal planning and preparation, dining, 
                                                medication administration, toileting, transfers, and other personal care, while respecting the privacy and dignity of each program participant.</li>
                                            <li>Maintain the residential care facility in a manner that promotes a safe environment which is free of dangerous and hazardous materials.</li>
                                            <li>Interact with and advocate for the individuals as often as required.</li>
                                            <li>Report repair issues at the RCU to the House Manager.</li>
                                            <li>Facilitate community involvement by accompanying individuals on outings in the community, or providing transportation to work, appointments and other activities.</li>
                                            <li>Transport ill or injured individuals to clinic or hospital when appropriate to do so and contact the House Manager regarding the health status of the individuals.</li>
                                            <li>Be prepared to remain at the clinic or hospital with individuals during the duration of their stay.</li>
                                            <li>Promote and protect the health and safety of the individuals by monitoring their activities.</li>
                                            <li>Provide direct service support as assigned, in response to the needs of the individuals.</li>
                                            <li>Provide support and assistance to individuals necessary for them to attain their personal objectives related to community membership.</li>
                                        </ul>
                                    </div>
                                    <hr />
                                    <div class="heading">Minimum Requirements</div>
                                    <div class="desc-text">
                                        <ul>
                                            <li>Good interpersonal skills and the ability to communicate and work effectively, individually and as part of a team with subordinates, other staff and supervisor throughout the organization.</li>
                                            <li>Good written and oral communication skills.</li>
                                            <li>Must be detail oriented, organized, self-disciplined, energetic, and deadline conscious.</li>
                                            <li> Ability to maintain confidentiality with regards to privileged and program participants’ information.</li>
                                            <li>Must be willing and able to support individuals with different levels of diagnoses.</li>
                                            <li>High School Diploma, GED or equivalent required, one year of college preferred</li>
                                            <li>At least one year of experience working with the population served</li>
                                            <li>Valid driver’s license and acceptable driving record required</li>
                                            <li>Acceptable criminal background is a must</li>
                                            <li>Must have CMT license or willing and able to obtain certification</li>
                                            <li>Must have no lifting restrictions. Ability to transfer individuals, talk, hear, sit, stand, walk, use hands to finger, handle, or feel object, tools, or controls, reach with hands and arms and stoop, kneel, crouch or crawl.</li>
                                        </ul>
                                    </div> 
                                </div>
                                <div class="modal-footer">
                                <a href="javascript:void( window.open( 'https://form.jotform.com/230874363383057', 'blank', 'scrollbars=yes, toolbar=no, width=700, height=500' ) ) "><button type="button" class="btn btn-sm">Apply</button></a>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="eeo-statement">
                    <p><i><strong>Innovative Services, Inc.</strong> is an equal opportunity employer and recruits, hires and promotes all personnel without regard to race, religion, color, sex, marital status, age, national origin, veteran status, or disability. Innovative Services, Inc. is committed to workplace diversity, and candidates of all backgrounds are encouraged to apply.</i></p>
                </div>
            </div>
        </div>
    </div>
</div>