<div class="careers-page">
    <div class="page-header">
        <div class="header-box">
            <div class="header-text">
                <h1>Careers</h1>
                <p>Innovative Services, Inc. is an equal opportunity employer and recruits, hires, and promotes all personnel based on merit, without regard to race, religion, color, sex, marital status, age, national origin, veteran status, or disability. 
                    Innovative Services, Inc. is committed to workplace diversity, and candidates of all backgrounds are encouraged to apply.</p>
            </div>
        </div>
    </div>
    <div class="careers-main">
        <div class="sidebar">
            <div class="sidebar-content-top">
                <h4>Contact Us</h4>
                <p>
                    Do you have general questions or need help finding a residential care unit?
                </p>
                <a href="/contact-us">
                    <button type="button" class="btn btn-sm">Get In Touch</button>
                </a>
            </div>
            <div class="sidebar-content-btm">
                <h4>Residential Care Units</h4>
                <p>
                    See our listing of all available vacancies.
                </p>
                <a href="/unit-vacancies">
                    <button type="button" class="btn btn-sm">View All</button>
                </a>
            </div>
        </div>
        <div class="col">
            <!-- <p>
                Innovate Services is currently hiring for a number of positions. Please refer to the link below or visit the career opportunities page to find out how you can be a part of our amazing team.
            </p>
            <hr /> -->
            <div class="main">
                <div class="main-title">Available Positions</div>
                <div class="row">
                    <div class="post-card">
                        <h3>House Manager/Program Coordinator</h3>
                        <p></p>
                    </div>
                    <div class="post-card">
                        <h3>Direct Support Professional</h3>
                        <p></p>
                    </div>
                    <div class="post-card">
                        <h3>Accounting Assistant</h3>
                        <p></p>
                    </div>
                    <div class="post-card">
                        <h3>Staff Accountant</h3>
                        <p></p>
                    </div>
                </div>
</div>
