<div class="vacancies-page">
    <div class="page-header">
        <div class="header-box">
            <div class="header-text">
                <h1>Unit Vacancies</h1>
                <p>Innovative Services, Inc. currently has a total of 15 residential units (11 adult, 4 youth). 
                    At present there are 5 total vacancies across all those units. 
                    Look below to see the locations of the units, 
                    and to find out how to get in contact with us about potentially filling a vacancy.</p>
            </div>
        </div>
    </div>
</div>