<div class="vacancies">
    <div class="page-header">
        <div class="header-box">
            <div class="header-text">
                <h1>Unit Vacancies</h1>
                <p>Innovative Services, Inc. currently has a total of 15 residential units (11 adult, 4 youth). 
                    At present there are 5 total vacancies across all those units. 
                    Look below to see the locations of the units, 
                    and to find out how to get in contact with us about potentially filling a vacancy.</p>
            </div>
        </div>
    </div>
    <div class="vacancies-body">
        <h2>Adult Houses</h2>
        <div class="adult-houses">
            <div class="card">
                <h3 class="card-heading">Randallstown</h3>
                <hr />
                <div class="card-text">
                    <p>Male Houses: 5</p>
                    <hr />
                    <p>Female Houses: 1</p>
                    <hr />
                    <p>Vacancies: 1</p>
                </div>
            </div>
            <div class="card">
                <h3 class="card-heading">Timonium</h3>
                <hr />
                <div class="card-text">
                    <p>Male Houses: 1</p>
                    <hr />
                    <p>Female Houses: 0</p>
                    <hr />
                    <p>Vacancies: 1</p>
                </div>
            </div>
            <div class="card">
                <h3 class="card-heading">Parkville</h3>
                <hr />
                <div class="card-text">
                    <p>Male Houses: 1</p>
                    <hr />
                    <p>Female Houses: 0</p>
                    <hr />
                    <p>Vacancies: 1</p>
                </div>
            </div>
            <div class="card">
                <h3 class="card-heading">Nottingham</h3>
                <hr />
                <div class="card-text">
                    <p>Male Houses: 1</p>
                    <hr />
                    <p>Female Houses: 1</p>
                    <hr />
                    <p>Vacancies: 2</p>
                </div>
            </div>
            <div class="card">
                <h3 class="card-heading">Pikesville</h3>
                <hr />
                <div class="card-text">
                    <p>Male Houses: 0</p>
                    <hr />
                    <p>Female Houses: 1</p>
                    <hr />
                    <p>Vacancies: 2</p>
                </div>
            </div>
        </div>
        <h2>Youth Houses</h2>
        <div class="youth-houses">
            <div class="card">
                <h3 class="card-heading">Baltimore City</h3>
                <hr />
                <div class="card-text">
                    <p>Male Houses: 1</p>
                    <hr />
                    <p>Female Houses: 0</p>
                    <hr />
                    <p>Vacancies: 0</p>
                </div>
            </div>
            <div class="card">
                <h3 class="card-heading">Owings Mills</h3>
                <hr />
                <div class="card-text">
                    <p>Male Houses: 2</p>
                    <hr />
                    <p>Female Houses: 0</p>
                    <hr />
                    <p>Vacancies: 0</p>
                </div>
            </div>
            <div class="card">
                <h3 class="card-heading">Parkville</h3>
                <hr />
                <div class="card-text">
                    <p>Male Houses: 0</p>
                    <hr />
                    <p>Female Houses: 1</p>
                    <hr />
                    <p>Vacancies: 0</p>
                </div>
            </div>
        </div>
        <div class="more-info">
            <p>For additional info, questions, or referrals click the button below.</p>
            <button></button>
        </div>
    </div>
</div>